.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: block;
  align-items: center;
  font-family: 'Apple Chancery',Arial,sans-serif;
  font-style: italic;
  font-size: 44px;
  color: black;
  padding: 20px;
}
