
.catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  img{
    width: 250px;
    height: 240px;
    margin-bottom: 5px;
  }
  img:hover {
    width: 260px;
    height: 250px;
  }

.artwork{
    padding: 5px;
    width: 25%;
    height: 300px;
    border: 1px solid gray;
    box-shadow: 2px 3px rgb(183, 183, 190);
    text-align: center;
}

.art-piece-info {
    text-align: center;
    color: maroon;
}

.artist{
    cursor: pointer;
}
.artist:hover{
    color: blue;
    text-decoration: underline;
}

.buttons-wrapper{
    height: 40px;
    margin-right: 40px;
}

.filterButton{
    width: 90px;
    height: 30px;
    background-color: 'white';
    font-family: 'BlinkMacSystemFont';
    font-size: '18px';
    font-weight: 600;
    float: right;
    margin: 4px;
    border-radius: 8px;
}